$wallpaper-main-color: #28b389; // 项目主色

$wallpaper-border-color: #e0e0e0; // 边框颜色
$wallpaper-border-color-light: #efefef; // 边框高亮

$wallpaper-text-color-1: #000000; // 文字颜色1
$wallpaper-text-color-2: #676767; // 文字颜色2
$wallpaper-text-color-3: #a7a7a7; // 文字颜色3
$wallpaper-text-color-4: #e4e4e4; // 文字颜色4
$wallpaper-text-color-5: #ffffff; // 文字颜色5